<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceventre</title>
    <link rel="stylesheet" href="C:\Users\Usuário\Documents\dashboard-projeto\static\style.css">
</head>
<body>
    <nav>
        <div class="logo">
            Doceventre
        </div>
        <ul>
            <li><a href="https://915188.mobirisesite.com/">Home</a></li>
            <li><a href="servicos.html">Serviço</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="introduction">
            <p>Nós somos uma empresa com serviço especializado em fotografia infantil e filmagem de parto.</p>
        </div>
        <img src="C:\Users\Usuário\Documents\dashboard-projeto\img\bebe_reborn.png" alt="Imagem de um bebê">
    </div>
    <button id="scrollTopBtn">Topo</button>
    <script src="scripts/main.js"></script>
</body>
</html>


