<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceventre - Serviços</title>
    <link rel="stylesheet" href="C:\Users\Usuário\Documents\dashboard-projeto\static\servicos.css">
</head>
<body>
    <nav>
        <div class="logo">
            Doceventre
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="servicos.html">Serviço</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>
    <section id="services">
        <h2>Nossos Serviços</h2>
        <div class="service-list">
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE LIFESTYLE</h3>
                <p>R$ 320.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE BATIZADO</h3>
                <p>R$ 350.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE CHÁ REVELAÇÃO</h3>
                <p>R$ 350.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE NATAL</h3>
                <p>R$ 360.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE MATERNIDADE</h3>
                <p>R$ 420.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FILMAGEM DE PARTO</h3>
                <p>R$ 425.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE ENSAIO DE NEWBORN</h3>
                <p>R$ 480.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA DE FILMAGEM DE PARTO</h3>
                <p>R$ 500.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE NEWBORN</h3>
                <p>R$ 508.33</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE FESTA INFANTIL</h3>
                <p>R$ 545.45</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE PARTO</h3>
                <p>R$ 586.25</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE PARTO CESÁREA</h3>
                <p>R$ 625.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE CASAMENTO CIVIL E RECEPÇÃO</h3>
                <p>R$ 650.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE FESTA INFANTIL COM ÁLBUM</h3>
                <p>R$ 680.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE FESTA INFANTIL + ÁLBUM</h3>
                <p>R$ 680.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE GESTANTE</h3>
                <p>R$ 750.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE SMASH THE CAKE E FESTA INFANTIL</h3>
                <p>R$ 800.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE BATIZADO + ENSAIO INDIVIDUAL + FESTA INFANTIL</h3>
                <p>R$ 800.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE ENSAIO GESTANTE</h3>
                <p>R$ 825.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE FESTA INFANTIL + VIDEO</h3>
                <p>R$ 830.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE ENSAIO GESTANTE EXTERNO</h3>
                <p>R$ 835.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA E FILMAGEM DE FESTA INFANTIL</h3>
                <p>R$ 915.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA E FILMAGEM DE PARTO + ENSAIO LIFESTYLE</h3>
                <p>R$ 933.33</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE PARTO E FILMAGEM</h3>
                <p>R$ 1000.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA E FILMAGEM DE PARTO</h3>
                <p>R$ 1008.33</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE GESTANTE + PARTO COM CLIPE</h3>
                <p>R$ 1350.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA E FILMAGEM DE PARTO + ENSAIO NEWBORN</h3>
                <p>R$ 1399.50</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA E FILMAGEM DE GESTANTE, PARTO E NEWBORN</h3>
                <p>R$ 1500.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE PARTO COM CLIPE, NEWBORN E ENSAIO INFANTIL</h3>
                <p>R$ 1710.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE GESTANTE, PARTO COM CLIPE E NEWBORN</h3>
                <p>R$ 2207.50</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE GESTANTE, PARTO, NEWBORN E ACOMPANHAMENTO (3 / 6 / 9 e 12 MESES)</h3>
                <p>R$ 2500.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE GESTANTE/ PARTO/ NEWBORN E ACOMPANHAMENTO</h3>
                <p>R$ 2750.00</p>
            </div>
            <div class="service">
                <h3>COBERTURA FOTOGRAFICA DE PARTO E FILME, NEWBORN E ACOMPANHAMENTO DIAMANTE</h3>
                <p>R$ 2900.00</p>
            </div>
        </div>
    </section>
    <button id="scrollTopBtn">Topo</button>
    <script src="scripts/main.js"></script>
</body>
</html>
